# vscode test web
.vscode-test-web

# github files
.github

# artifacts
artifacts

# macos files
.DS_Store
._*

# ignore archive files
*.tar
*.tgz
*.7z
*.zip
*.vsix
*.log

# ignore mark file about new syntax tip
extension/new_syntax_tip_has_been_shown

# ignore screenshots gif (big file)
images/screenshots.gif

# vscode workspace configurations
.vscode

# example files (test environment)
example_files

# cache files
utils/cache
utils/cache-*

# vscode typing files
vscode.d.ts
vscode.proposed.d.ts
