# ignore mark file about new syntax tip
extension/new_syntax_tip_has_been_shown

# ignore screenshots gif (big file)
images/screenshots.gif

# vscode workspace configurations
.vscode

# example files (test environment)
example_files

# cache files
utils/cache
utils/cache-*

# binary archives
*.vsix
*.tgz
*.tar

# vscode typing files
vscode.d.ts
vscode.proposed.d.ts
