#
#region main
# template:  .vscodeignore
# author:    hangxingliu
# license:   MIT
# version:   2024-03-16
#

# config for building/bundling
tsconfig*.json
*.tsbuildinfo
.swcrc

# spellchecker
cspell.yml

# output files
artifacts
.tsc

# cache directory
cache
cache*

# scripts
scripts


# documents
docs

# source files
src
*.d.ts

# test files
*.spec.*
test

# github files
.github

# built vscode package
.vsix

# vscode configuartion and test files
.vscode
.vscode-test
.vscode-test-web

# ignore gitignore
.gitignore

# example files
examples

# archived files
*.tgz
*.vsix
*.zip
*.7z
*.tar

# macos files
.DS_Store
._*

# logs
logs
*.log
#endregion main
