# vscode test web
.vscode-test-web

# github files
.github

# artifacts
artifacts/npm
artifacts/vscode

# scripts and utils
scripts
utils

# macos files
.DS_Store
._*
.nmimrc

# archive files and logs
*.tar
*.tgz
*.7z
*.zip
*.vsix
*.log

# ignore mark file about new syntax tip
extension/new_syntax_tip_has_been_shown


# unit test files
test/**


# vscode workspace configurations
.vscode/**


# example files
example_files/**


# type dependencies
node_modules/@types/**


# cache files
utils/cache
utils/cache-**


# eslint
.eslintrc.json

*.d.ts

# screenshot image (because link of screenshot in README is under github)
images/screenshots.gif


# vscode typing files
vscode.d.ts
vscode.proposed.d.ts
