# this extension doesn't need any node modules
# if I don't ignore node_modules, `vsce` will pack optional dependencies into the extension
node_modules

# vscode test web
.vscode
.vscode-test-web

# github files
.github

# artifacts
artifacts/npm
artifacts/vscode
artifacts/web-ext/*.map

# documents
docs

# scripts and utils
scripts
src/extension/**/*.ts
src/extension/**/*.js.map
src/syntax/references
src/syntax/*.ts
src/syntax/*.js
src/utils
test

# typescript files
tsconfig.*.json

# macos files
.DS_Store
._*
.nmimrc

# archive files and logs
*.tar
*.tgz
*.7z
*.zip
*.vsix
*.log

# cache files
cache
cache-*

# eslint
.eslint*

*.d.ts

# screenshot image (because link of screenshot in README is under github)
images/screenshots.gif
