name: build-artifact
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: yarn
      - name: Install
        run: |
          yarn install
      - name: Lint
        run: |
          ./scripts/fix-eslint-strip-ansi.sh &&
          yarn run lint:eslint
      - name: Build
        run: |
          yarn run build:utils &&
          yarn run build:syntax &&
          yarn run build:web-ext &&
          yarn run build:desktop-ext
      - name: Build npm package
        run: bash ./scripts/build-npm-package.sh
      - name: Build Visual Studio Code package
        run: bash ./scripts/build-vscode-artifact.sh
      - uses: actions/upload-artifact@v3
        with:
          name: vscode-extension
          path: |
            artifacts/vscode/*.vsix
            artifacts/vscode/*.list
      - uses: actions/upload-artifact@v3
        with:
          name: npm-package
          path: |
            artifacts/npm/*.tgz
            artifacts/npm/*.list
