name: publish-vscode-extension
on:
  # Only publish vscode extension manually
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install and build
        run: |
          yarn install &&
          yarn add vsce
      - name: Publish VS Code extension
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: bash scripts/vsce-publish.sh

